@tailwind base;
@tailwind components;
@tailwind utilities;

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Kalam, sans-serif;
  background-color: #0c0813;
  letter-spacing: 0.05em;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  .h1 {
    font-size: 176px;
    font-weight: 400;
  }
  .h5 {
    font-size: 64px;
    font-weight: 400;
  }
  .h6 {
    font-size: 40px;
    font-weight: 400;
  }
  .p-big {
    font-size: 24px;
    font-weight: 400;
  }
  .p-medium {
    font-size: 18px;
    font-weight: 400;
  }
  .p-small {
    font-size: 16px;
    font-weight: 400;
  }
}

@font-face {
  font-family: "Kalam";
  src: url("../assets/fonts/Kalam/Kalam-Variable.woff2") format("woff2"),
    url("../assets/fonts/Kalam/Kalam-Variable.woff") format("woff"),
    url("../assets/fonts/Kalam/Kalam-Variable.ttf") format("truetype");
  font-weight: 300 700;
  font-display: swap;
  font-style: normal;
}

.pattern {
  background-image: url(/background/pattern.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #695492 !important;
  opacity: 1 !important; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #695492 !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #695492 !important;
}

.glow-on-hover {
  position: relative;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0c0813;
  left: 0;
  top: 0;
  border-radius: 16px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@layer components {
  .btn-primary {
    @apply cursor-pointer w-11/12 sm:w-auto border-2 border-transparent bg-p-100 rounded-2xl px-16 py-1.5 gap-1 text-g-100 p-big disabled:cursor-not-allowed disabled:opacity-30 transition-all duration-300;
  }

  .btn-outline {
    @apply cursor-pointer w-11/12 sm:w-auto border-2 border-p-100 rounded-2xl px-12 py-1.5 text-g-100 p-big disabled:cursor-not-allowed;
  }
}
